.poppy--tip {
	height        : 38px;
	top           : 0;
	background    : #ffee83;
	color         : #7c6045;
	width         : 100%;
	margin        : 0 auto;
	padding       : 8px 0;
	border-bottom : 1px solid #ecca82;
	font-size     : 14px;
	text-align    : center;
	line-height   : 1.5;
}